<div class="row">
<%= form_for(@sp) do |f| %>
  <% if @sp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sp.errors.count, "error") %> prohibited the '<%=@spname%>' page from being saved:</h2>

      <ul>
      <% @sp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-12">
    <% if @spname == "Home" %>
        <%= f.label @spname %>
        <%= f.cktext_area :home_block_one, class: "form-control", ckeditor: {language: "us" } %>
     
    <% elsif @spname == "Contact Us" %>
        <%= f.label @spname %>
        <%= f.cktext_area :contact_us, class: "form-control", ckeditor: {language: "us" } %>
    <% elsif @spname == "About Us" %>
        <%= f.label @spname %>
        <%= f.cktext_area :about_us, class: "form-control", ckeditor: {language: "us" } %>
    <% elsif @spname == "Woofs for Help" %>
        <%= f.label @spname %>
        <%= f.cktext_area :woofs_for_help, class: "form-control", ckeditor: {language: "us" } %>
    <% elsif @spname == "Help" %>
        <%= f.label @spname %>
        <%= f.cktext_area :help, class: "form-control", ckeditor: {language: "us" } %>
    <% elsif @spname == "Sidebar" %>
        <%= f.label @spname %>
        <%= f.cktext_area :sidebar, class: "form-control", ckeditor: {language: "us" } %>
    <% end %>
     <div class="actions" style="margin-top: 5px;">
            <%= f.submit "Update" %>
     </div>
  </div>
<% end %>
</div>
