<% title "Real Good Dog Rescue" %>
<%= render partial: "home_block_one" %>
<h1 align="center">Adoptable Pets at Real Good Dog Rescue</h1>
<div class="row">
    <% pointer_i = 0 %>
    <% @pets.each_with_index do |pet, i| %>
        <% if (i % 3 == 0) %>
            <div class="row">
            <% pointer_i = i %>
        <% end %>
        <% pointer_i += 1%>
        <div class="col-lg-4">
            <div class="pet-container">
                <%= image_tag pet["large_results_photo_url"], style: "margin: 0 auto; display: block;" %>
                <h5 align="center">
                <%= link_to "#{pet["pet_name"].capitalize},", "#{@details_hash["#{i}"]}"%>
                <%= pet["age"].capitalize %></h5>
                <% if pet["secondary_breed"].empty? %>
                    <h5 align="center"><%= "#{pet["primary_breed"].capitalize}" %></h5>
                <% else %>
                    <h5 align="center"><%= "#{pet["primary_breed"].capitalize}, #{pet["secondary_breed"].capitalize}" %></h5>
                <% end %>
            </div>
        </div>
        <% if (pointer_i % 3== 0) %>
            </div>
            <br>
        <% end %>
    <% end %>
</div>
