<div class="row">
    <div class="col-lg-3">
        <h2>Login</h2>
        <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <% end %>
            <span>Remember me?</span>
            <br>
            <%= f.submit "Log in" %>
        <% end %>
        <br>
        <h6>New Administrator? <%= link_to "Sign up here!", new_user_path %></h6>
    </div>
    <div class="col-lg-9"></div>
</div>
