<% title "#{@blog.title} - Real Good Dog Rescue" %>
<%= render @blog %>
<% if current_user %>
    <div class="row">
        <div class="col-lg-5">
            <%= form_for @new_comment, url: { action: "create", controller: "comments", :blog_id => @blog.id } do |f| %>
                <%= f.text_area :content, class: "form-control", style: "margin-bottom: 5px;" %>
                <%= f.submit %>
            <% end %>
        </div>
        <div class="col-lg-7"></div>
    </div>
<% end %>
<% if @comments.empty? %>
    <div class="bs-callout bs-callout-info">
        There are no comments here
    </div>
<% else %>
    <% @comments.each do |comment| %>
        <% #I had to use this ridiculous hack because the form kept messing up %>
        <% if comment.id != nil %>
            <div class="row">
                <div class="col-lg-12">
                        <div class="comment" >
                            <h5 class="comment-user" ><%= comment.user.full_name %></h5>
                            <div id="frame">
                                <div id=<%="comment-#{comment.id}"%>><%= comment.content %></div>
                                <div id="edit-frame" style="display: inline-block;">
                                    <% if comment.user == current_user %> 
                                        <a id=<%="edit-#{comment.id}"%> class="edit comment-footer">Edit</a>
                                    <% end %> 
                                </div>
                                <div id="destroy-frame" style="display: inline-block;">
                                    <% if current_user %>
                                        <% if (comment.user == current_user) || current_user.at_least_mod? %>
                                            <a id=<%="destroy-#{comment.id}"%> class="destroy comment-footer">Delete</a>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>
<script>
    $(document).ready(function() {
        $('#frame #edit-frame a').click(function(){
            var user_id = $(this).attr("id");
            var arr = user_id.split('-');
            var comment_id = arr[1];
            var comment = $('#comment-'+comment_id);
            $('#edit-'+arr[1]).hide();
            comment.empty();
            event.preventDefault();
            return $.ajax({
                url: '/comments/'+comment_id+'/edit',
                type: 'get',
                data: {
                    edit_comment_id: comment_id
                },
                success: function(data){
                    comment.append(data)
                }
            });
        });
        $('#frame #destroy-frame a').click(function(){
            if(window.confirm("This comment will be deleted permanently. Are you sure?")){
                var user_id = $(this).attr("id");
                var arr = user_id.split('-');
                var comment_id = arr[1];
                var comment = $('#comment-'+comment_id);
                event.preventDefault();
                return $.ajax({
                    url: '/comments/'+comment_id,
                    type: 'delete',
                    data: {
                        destroy_comment_id: comment_id,
                        blog_id: <%= @blog.id %>
                    },
                    success: function(data){
                        comment.hide();
                    }
                });
            }else{
                return false;
            }
        });
    });
</script>
