<div class="row">
        <%= form_for(@user) do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        <div class="col-lg-5">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: "form-control" %>
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: "form-control" %>
              <%= f.label :email %>
              <%= f.text_field :email , class: "form-control" %>
              <%= f.label :age %>
              <%= f.text_field :age, class: "form-control" %>
              <%= f.label :phone%>
              <%= f.text_field :phone, class: "form-control" %>
              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control" %>
              <div class="actions">
                <%= f.submit %>
              </div>
        </div>
        <div class="col-lg-5">
              <%= f.label :adress_line_one %>
              <%= f.text_field :address_line_one, class: "form-control" %>
              <%= f.label :adress_line_two %>
              <%= f.text_field :address_line_two, class: "form-control" %>
              <%= f.label :state %>
              <%= f.collection_select :state, @states, :to_s, :to_s, { include_blank: false } , {:class => "form-control", id: "states" } %>
              <%= f.label :city %>
              <%= f.collection_select :city, @cities, :to_s, :to_s, { include_blank: false }, { class: "form-control", id: "cities" } %>
              <%= f.label :zip %>
              <%= f.text_field :zip, class: "form-control" %>

        </div>
        <% end %>
        <div class="col-lg-2"></div>
        <script>
            $(document).ready(function() {
                function change_select(data){
                    $('#cities').empty();
                    for(var i = 0; i < data.length; i++){
                        $('#cities').append("<option value=\""+data[i]+"\">"+data[i]+"</option>");
                    }
                };

                $('#states').on('change', function(){
                    state = $('#states').val();
                    $.post("/users/set_state", {selected_state: state}, function(data, status){
                        if(status =="success"){
                            change_select(data);
                        }
                    });
                });
            });
        </script>
</div>
