<% title "Confirm Email - Real Good Dog Rescue" %>
<div class="row">
    <div class="col-lg-5">
        <h2>Confirm Email</h2>
        <%= form_for(:session, url: confirm_email_login_path) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
            <%= f.hidden_field "confirm_token", value: params[:confirm_token] %>
            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <% end %>
            <span>Remember me?</span>
            <br>
            <%= f.submit "Log in" %>
        <% end %>
    </div>
</div>
