<% title "Forgot Password - Real Good Dog Rescue" %>
<div class="row">
    <div class="col-lg-6">
    <h1>Change Password</h1>
        <%= form_for(@user, url: password_management_path(@user.id)) do |f| %>
            <% if @user.errors.any? %>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="error_explanation">
                          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                          <ul>
                          <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                    </div>
                </div>
            <% end %>

            <%= f.label "Current Password", class: "required" %>
            <%= f.password_field :current_password, class: "form-control" %>

            <%= f.label :new_password, class: "required" %>
            <%= f.password_field :password, class: "form-control" %>

            <%= f.label :new_password_confirmation, class: "required" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>

            <br/>
            <%= f.submit "Update Password" %>
        <% end %>
    </div>
</div>
