<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="background">
      <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <h1 align="center"> Banner </h1>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 nopadding">
                    <nav class="navbar navbar-light">
                      <a class="navbar-brand" href="/"><%= image_tag "rgdr_logo.png", size: "30x30", :class => "image" %></a>
                      <ul class="nav navbar-nav">
                        <li class="nav-item active">
                          <%= link_to "Home", root_path, :class => "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "About Us", about_us_path , :class => "nav-link"%>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Upcoming Events", events_path , :class => "nav-link"%>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Happy Tails", blogs_path , :class => "nav-link"%>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Woofs for Help", woofs_for_help_path , :class => "nav-link"%>
                        </li>
                      </ul>
                      <ul class="nav navbar-nav float-lg-right">
                        <li class="nav-item">
                          <%= link_to "Helpful Info", help_path , :class => "nav-link"%>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Contact Us", contact_us_path , :class => "nav-link"%>
                        </li>
                      </ul>
                    </nav>
                </div>
                <div class="col-lg-2"></div>
            </div>
            
            <div class="row">
                <div class="col-lg-2 nopadding">
                <div class="jumbotron sidebar">
                        <%= render partial: "static_pages/sidebar" %>
                    </div>
                </div>
                <div class="col-lg-8 nopadding">
                    <div class="jumbotron content">
                        <%= flash_messages %>
                        <%= yield %>
                    </div>
                    <%= render partial: "static_pages/footer" %>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <!-- debug panel -->
            <div class="row">
                <div class="col-md-3">
                </div>

                <% if ENV["RAILS_ENV"] != "production" %>
                <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">Debug Parameters</div>
                      <div class="panel-body">
                        <%= debug(params) %>
                      </div>
                    </div>
                </div>
                <% end %>

                <div class="col-md-3">
                </div>
            </div>

        </div>

    </body>
</html>
